img:focus {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
}